<div class="container">
  <h1 style="color: #43a047; text-align: center;"><i
      class="fa-solid fa-bookmark"
      style="color: #43a047"
    ></i>
    -
    {{pageTitle}}
    -
    <i class="fa-solid fa-bookmark" style="color: #43a047"></i>
  </h1>

  <div class="parent">
    {{#each products}}

      <article class="product">
        <header class="card-header">{{category}} - {{title}}</header>
        <div class="card-body">
          <div
            style="display: flex; justify-content: center; margin-bottom: 35px;"
          >
            <img src="{{thumbnail}}" alt="{{title}}" />
          </div>

          <i
            class="fa-solid fa-circle-info"
            style="margin-right: 5px; color: lightskyblue"
          ></i>
          {{description}}
        </div>
        <footer class="flex-column">
          <div>
            <i class="fa-solid fa-book" style="color: #43a047"></i>
            {{stock}}
            units
          </div>
          <div>
            <i class="fa-solid fa-dollar-sign" style="color: #43a047"></i>
            {{{price}}}
          </div>
          <div>
            {{#if status}}
              <i class="fa-solid fa-check" style="color: #43a047"></i>
              Active
            {{else}}
              <i class="fa-solid fa-times" style="color: red"></i>
              Disabled
            {{/if}}
          </div>
          <div>
            <i class="fa-solid fa-barcode" style="color: #43a047"></i>
            {{code}}
          </div>
        </footer>
      </article>

    {{/each}}
  </div>

  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</div>